html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a,
.header .nav .search,
.header .nav .button-go, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
  height: 100%;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img, .header .nav .search img, .header .nav .button-go img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

a, a:hover{text-decoration: none;}




body {
  position: relative;
  font-size: 62.5%;
  /* font-size 1em = 10px */
  height: 100%;
  font-family: "Arial";
  background-color: #fff;
}

.container{
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 0;
}

#header{
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  background: url(../img/bg-line.png) no-repeat right bottom;
}

#header .logo{
  width: 17%;
  float: left;
  display: inline-block;
}

#header .logo img{
  width: 100%;
  height: auto;
}

#header .contacts{
  width: 75%;
  height: auto;
  display: inline-block;
  margin-top: 5%;
}

#header .contacts h1{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font: 2.5em "CuprumRegular", sans-serif;
  color: #2b2a29;
}

#header .contacts p{
  text-align: center;
  margin-top: 1%;
  color: #cb2123;
  font: 1.8em "CuprumBold", sans-serif;
}

#slider{
  width: 100%;
  height: auto;
}

#slider img{
  width: 100%;
  height: auto;
}

#descr{
  background: url(../img/bg-line.png) no-repeat right bottom;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  margin-top: -2px;
}

#descr .text{
  width: 100%;
  text-align: left;
  font: 1.5em "CuprumRegular", sans-serif;
  padding-top: 3%;
  padding-bottom: 3%;
}

#descr .text p{
  margin-top: 1%;
}

#portfolio{
  padding-top: 1%;
  padding-bottom: 1%;
}

#portfolio h1{
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  font: 2.5em "CuprumRegular", sans-serif;
  color: #2b2a29;
}

#portfolio .gallery{
  width: 100%;
  height: auto;
  margin-top: 2%;
}


#portfolio .gallery .img p a img{
  width: 25%;
  height: auto;
  margin-left: -3px;
  margin-bottom: -2px;
}

#footer{
  background: url(../img/bg-line.png) no-repeat right bottom;
  padding-top: 1%;
  padding-bottom: 1.5%;
}

#footer .text{
  margin-top: 2%;
}

#footer .text{
  font: 1.4em "CuprumRegular", sans-serif;
  color: #2b2a29;
}

#footer .text p a{
  color: #cb2123;
}