body {
  background: #fff;
  font-family: "Philosopher Regular", sans-serif;
  color: #42413D;
  overflow-x: hidden; }

*, :after, :before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.mainContainer {
  max-width: 1332px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

input, button, textarea {
  font-family: "Philosopher Regular", sans-serif;
  color: #272727;
  font-size: 14px;
  -webkit-box-shadow: none !important;
          box-shadow: none !important; }
  input:focus, button:focus, textarea:focus {
    -webkit-box-shadow: none !important;
            box-shadow: none !important; }

.header {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0; }

.header__wrapp {
  padding: 16px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__wrapp .toggler {
    display: none; }
  .header__wrapp .logo {
    margin-right: auto;
    background-image: url("../img/logo.png");
    width: 47px;
    height: 62px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .header__wrapp .nav a {
    padding: 5px 32px;
    color: #42413D;
    font-size: 18px;
    line-height: 20px; }
    .header__wrapp .nav a:focus {
      outline: none; }
  .header__wrapp .info {
    margin-left: 13%;
    text-align: right; }
    .header__wrapp .info a {
      display: block;
      margin-bottom: 4px;
      color: #42413D;
      font-size: 20px;
      line-height: 22px;
      font-family: "Philosopher Bold", sans-serif; }
    .header__wrapp .info p {
      color: #898989;
      font-size: 16px;
      line-height: 18px; }

.banner {
  padding-top: 263px;
  padding-bottom: 169px;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  color: #fff; }
  .banner .heading {
    display: inline-block;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 24px;
    font-family: "Legend", sans-serif; }
  .banner h1 {
    margin-bottom: 32px;
    font-size: 80px;
    line-height: 80px;
    font-family: "Legend", sans-serif; }
  .banner h2 {
    font-size: 26px;
    line-height: 36px;
    font-family: "Philosopher Regular", sans-serif; }

.menu {
  padding-top: 104px; }

.menu__heading {
  text-align: center;
  font-size: 64px;
  line-height: 64px;
  color: #42413D;
  margin-bottom: 28px;
  font-family: "Legend", sans-serif; }

.menu__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 82%;
  margin: 0 auto; }
  .menu__nav button {
    padding: 0;
    background-color: transparent;
    border: none;
    padding-bottom: 12px;
    border-bottom: 1px solid transparent;
    font-size: 16px;
    color: #9D9D9D;
    line-height: 22px;
    display: inline-block;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
    .menu__nav button.active {
      color: #D52D22;
      border-color: #D52D22; }
    .menu__nav button:focus {
      outline: none; }
    .menu__nav button:hover {
      color: #D52D22;
      border-color: #D52D22; }

.menu__container {
  background-color: #F7F6F5;
  padding: 56px 0; }

.menu__slider__wrapp {
  position: relative; }

.menu__slider__btn {
  top: 50%;
  position: absolute;
  margin-top: -16px;
  display: inline-block;
  width: 32px;
  height: 32px;
  border: none;
  background: transparent;
  padding: 0; }
  .menu__slider__btn img {
    max-width: 100%; }
  .menu__slider__btn.prev {
    right: auto;
    left: -47px; }
    .menu__slider__btn.prev img {
      -webkit-transform: rotateZ(180deg);
          -ms-transform: rotate(180deg);
              transform: rotateZ(180deg); }
  .menu__slider__btn.next {
    left: auto;
    right: -47px; }
  .menu__slider__btn.swiper-button-disabled {
    display: none; }

.menu__item {
  padding: 24px 24px 13px;
  background: #FFFFFF;
  border: 1px solid #DADADA;
  border-radius: 10px;
  position: relative; }
  .menu__item .link {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; }
    .menu__item .link:focus {
      outline: none; }
  .menu__item .preview {
    width: 100%;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 27px; }
    .menu__item .preview img {
      max-width: 70%; }
  .menu__item .name {
    margin-bottom: 17px;
    color: #42413D;
    font-size: 20px;
    line-height: 22px;
    font-family: "Philosopher Bold", sans-serif; }
  .menu__item .info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    .menu__item .info .price {
      color: #42413D;
      font-size: 32px;
      line-height: 36px;
      font-family: "Philosopher Bold", sans-serif; }
      .menu__item .info .price span {
        vertical-align: baseline;
        font-size: 20px;
        line-height: 22px; }
    .menu__item .info a {
      border-radius: 100px;
      background: #F7F6F5;
      color: #42413D;
      font-size: 16px;
      line-height: 22px;
      padding: 12px 25px;
      border: none;
      -webkit-transition: all 0.2s;
      -o-transition: all 0.2s;
      transition: all 0.2s;
      position: relative;
      z-index: 1; }
      .menu__item .info a:hover {
        background-color: #D52D22;
        color: #fff; }

.about {
  padding: 104px 0 129px; }
  .about .preview {
    text-align: center;
    max-width: 100%;
    height: 565px;
    background-image: url("../img/about.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; }
    .about .preview img {
      max-width: 100%; }
  .about .content {
    margin-top: -56px; }
    .about .content h2 {
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 64px;
      font-family: "Legend", sans-serif; }
    .about .content p {
      font-size: 26px;
      line-height: 36px; }

.delivery__container {
  background-color: #D72D27; }

.delivery__wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  color: #fff; }
  .delivery__wrapp .img {
    margin-top: -100px;
    margin-right: -55px; }
  .delivery__wrapp .content {
    padding-bottom: 72px; }
    .delivery__wrapp .content h2 {
      margin-bottom: 24px;
      font-size: 64px;
      line-height: 64px;
      font-family: "Legend", sans-serif; }
    .delivery__wrapp .content p {
      font-size: 26px;
      line-height: 29px;
      margin-bottom: 32px; }
    .delivery__wrapp .content .links a {
      margin-right: 20px; }

.contacts {
  padding: 104px 0;
  background-image: url("../img/contacts-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff; }
  .contacts .heading {
    font-family: "Legend", sans-serif;
    margin-bottom: 24px;
    font-size: 64px;
    line-height: 64px; }
  .contacts .wrapp {
    margin-bottom: 40px; }
    .contacts .wrapp:last-child {
      margin-bottom: 0; }
    .contacts .wrapp span {
      display: block;
      margin-bottom: 24px;
      font-size: 32px;
      line-height: 36px;
      font-family: "Philosopher Bold", sans-serif; }
    .contacts .wrapp p {
      margin-bottom: 8px;
      font-size: 26px;
      line-height: 36px; }
    .contacts .wrapp a {
      display: block;
      font-size: 32px;
      line-height: 45px;
      font-family: "Philosopher Bold", sans-serif;
      color: #fff; }
      .contacts .wrapp a:focus {
        outline: none; }

footer {
  background: #F7F6F5; }

.footer__wrapp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 19px 0;
  color: #898989; }
  .footer__wrapp .descr {
    font-size: 16px;
    line-height: 18px; }
  .footer__wrapp .links a {
    font-size: 16px;
    line-height: 18px;
    font-family: "Philosopher Bold", sans-serif;
    margin-right: 32px;
    color: #898989; }
    .footer__wrapp .links a:last-child {
      margin-right: 0; }

.menu__list {
  min-height: 346px; }

.menu__preloader {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.spinner {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
  color: #D52D22; }

.spinner:after {
  content: "";
  width: 100%;
  height: 100%;
  display: inline-block;
  border: 4px solid currentColor;
  border-bottom-color: transparent;
  border-radius: 100%;
  background: transparent;
  -webkit-animation: rotate .75s linear infinite;
          animation: rotate .75s linear infinite; }

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

@keyframes rotate {
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg); } }

.menu__pagination {
  display: none; }

.mobile-container {
  display: none; }

@media (max-width: 1390px) {
  .menu__slider__btn.prev {
    z-index: 10;
    left: -7px; }
  .menu__slider__btn.next {
    right: -7px;
    z-index: 10; } }

@media (max-width: 1200px) {
  .menu__nav {
    width: 97%; } }

@media (max-width: 992px) {
  .mainContainer {
    padding: 0 12px; }
  header {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; }
    header .nav {
      display: none; }
    header .info {
      display: none; }
  .header__wrapp .logo {
    background-image: url("../img/logo_mob.png"); }
  .header__wrapp {
    padding: 22px 0; }
  .header__wrapp .toggler {
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #FFFFFF; }
    .header__wrapp .toggler div {
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
      height: 100%; }
    .header__wrapp .toggler .close {
      display: none; }
  .menu__wrapp {
    width: 100%;
    overflow: auto;
    margin-left: -12px;
    width: -webkit-calc(100% + 24px);
    width: calc(100% + 24px); }
  .menu__nav {
    width: 100%;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content; }
    .menu__nav li {
      padding: 0 16px; }
  .delivery__wrapp .img {
    width: 49%; }
  .menu__slider__nav {
    width: 100%; }
  .menu__pagination {
    display: block; }
  .menu__slider__btn {
    position: static;
    margin-top: 0; }
  .menu__slider__nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 21px;
    height: 32px; }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    margin: 0 6px;
    opacity: 1;
    background: #D5D5D5; }
  .swiper-pagination-bullet-active {
    background: #D52D22; }
  .menu__slider__btn.swiper-button-disabled {
    opacity: 0;
    display: block; }
  .mobile-container {
    width: 100%; }
  header.active {
    position: fixed;
    overflow: auto;
    background: #fff;
    height: 100%;
    z-index: 100; }
    header.active .toggler .close {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    header.active .toggler .open {
      display: none; }
    header.active .mobile-container {
      display: block; }
    header.active .header__wrapp {
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    header.active .logo {
      opacity: 0; }
    header.active .mobile-container__nav {
      border-bottom: 1px solid #E7E7E7; }
      header.active .mobile-container__nav a {
        display: block;
        text-align: center;
        margin-bottom: 48px;
        color: #42413D;
        font-size: 32px;
        line-height: 36px;
        font-family: "Philosopher Bold", sans-serif; }
    header.active .mobile-container__contacts {
      padding-top: 40px;
      padding-bottom: 40px;
      border-bottom: 1px solid #E7E7E7;
      text-align: center; }
      header.active .mobile-container__contacts a {
        color: #42413D;
        font-size: 24px;
        line-height: 27px;
        font-family: "Philosopher Bold", sans-serif; }
      header.active .mobile-container__contacts p {
        color: #898989;
        font-size: 16px;
        line-height: 21px;
        margin-top: 8px; }
    header.active .mobile-container__socials {
      padding: 24px 0;
      text-align: center; }
      header.active .mobile-container__socials a {
        padding: 0 16px;
        color: #898989;
        font-size: 16px;
        line-height: 18px;
        font-family: "Philosopher Bold", sans-serif; } }

@media (max-width: 768px) {
  .banner {
    padding: 204px 0;
    background-image: url(../img/banner_mob.jpg); }
  .banner .heading {
    font-size: 18px;
    line-height: 18px;
    margin-bottom: 16px; }
  .banner h1 {
    font-size: 56px;
    line-height: 56px;
    margin-bottom: 24px; }
  .banner h2 {
    font-size: 20px;
    line-height: 28px; }
    .banner h2 br {
      display: none; }
  .menu {
    padding-top: 72px; }
  .menu__heading {
    font-size: 40px;
    line-height: 40px; }
  .menu__heading {
    margin-bottom: 20px; }
  .menu__container {
    padding: 42px 0; }
  .menu__item {
    padding: 21px 21px 8px; }
  .menu__item .preview {
    height: 234px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .menu__item .preview img {
    max-width: 100%;
    max-height: 95%; }
  .about {
    padding: 72px 0; }
  .about .preview {
    background-image: url("../img/about_mob.png");
    border-radius: 30px;
    background-size: cover;
    height: 240px;
    margin-bottom: 32px; }
  .about .content {
    margin-top: 0; }
  .about .content h2 {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 16px; }
    .about .content h2 br {
      display: none; }
  .about .content p {
    font-size: 20px;
    line-height: 28px; }
    .about .content p br {
      display: none; }
  .delivery__container {
    padding-top: 48px; }
  .delivery__wrapp {
    display: block; }
  .delivery__wrapp .img {
    margin-top: 0; }
  .delivery__wrapp .content h2 {
    text-align: center;
    margin-bottom: 12px;
    font-size: 40px;
    line-height: 40px; }
  .delivery__wrapp .content p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 25px;
    text-align: center; }
  .delivery__wrapp .links {
    text-align: center; }
  .delivery__wrapp .content {
    padding-bottom: 20px; }
  .delivery__wrapp .img {
    width: 100%;
    text-align: center; }
    .delivery__wrapp .img img {
      max-height: 170px; }
  .contacts {
    padding: 72px 0 190px;
    background-image: url("../img/contacts-bg_mob.jpg"); }
  .contacts .heading {
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 25px; }
  .contacts .wrapp span {
    font-size: 24px;
    line-height: 27px;
    margin-bottom: 20px; }
  .contacts .wrapp p {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 12px; }
  .contacts .wrapp a {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 24px; }
  .footer__wrapp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0; }
    .footer__wrapp .descr {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
          -ms-flex-order: 1;
              order: 1; }
  footer .mainContainer {
    padding: 0; }
  .links {
    width: 100%;
    padding: 20px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .descr {
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    text-align: center; } }
