// MAIN ELEMENTS
$font_bold: 'Euclid Circular Bold', Arial, sans-serif
$font_light: 'Euclid Circular Light', Arial, sans-serif
$font_regular: 'Euclid Circular Regular', Arial, sans-serif
$font_medium: 'Euclid Circular Medium', Arial, sans-serif
$font_semibold: 'Euclid Circular Semibold', Arial, sans-serif
$color_bg: linear-gradient(180deg, #595E79 0%, #192244 100%)
$color_bg_second: rgba(255, 255, 255, 0.1)
$color_white: #fff
$color_grey: rgba(255, 255, 255, 0.5)
$color_yellow: #F5BC33
 
       
body   
  //background: $color_bg
  font-family: $font_regular 
  color: $color_white
  overflow-x: hidden
  background-repeat: no-repeat
  padding-top: 95px
  &:before
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    content: ''
    display: block
    background: linear-gradient(180deg, #595E79 0%, #192244 100%)
  main, footer, .footer-pay
    position: relative
    z-index: 1

*, :after, :before
  box-sizing: border-box

input
  font-family: $font_regular

.mainContainer
  width: 100%
  margin: 0 auto
  padding: 0 16px
  box-sizing: border-box  

.bg-grey
  background-color: $color_bg_second
.section-heading
  text-align: center
  margin-bottom: 40px
  h2,h1
    font-size: 24px
    line-height: 32px
    font-family: $font_medium
    margin-bottom: 16px
    color: $color_white
  p
    font-size: 14px
    line-height: 32px
    color: $color_grey

.main-btn
  height: 56px
  font-size: 16px
  font-family: $font_medium
  color: $color_white
  padding: 5px 37px
  border: none
  transition: all 0.2s
  background-color: $color_yellow
  &:focus
    outline: none

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center

.hidden
  display: none !important


/* MAIN-BANNER */
.main-banner
  padding: 108px 0 116px
.searchbar-nav
  display: flex
  justify-content: space-between
  align-items: flex-end
  margin-bottom: 16px
  button
    width: 48%
    height: 56px
    background: rgba(255, 255, 255, 0.05)
    backdrop-filter: blur(50px)
    border: none
    font-size: 12px
    font-family: $font_medium
    color: $color_white
    img
      margin-right: 10px
    &.active
      background: rgba(255, 255, 255, 0.15)
.searchbar__wrapp
  .btn-search
    width: 100%
    height: 56px
    border: none
    background-color: $color_yellow
    font-size: 16px
    font-family: $font_medium
    color: $color_white
    margin-top: 16px
  .delimiter
    width: 32px
    height: 32px
    text-align: center
    line-height: 36px
    border-radius: 50%
    background-color:#787C91
    z-index: 2
    position: absolute
    right: 16px
    top: 20px
  .searchbar__item
    width: 100%
    margin-bottom: 8px
    position: relative
    input
      width: 100%
      height: 72px
      background: rgba(255, 255, 255, 0.15)
      backdrop-filter: blur(50px)
      border: none
      padding-left: 52px
      padding-right: 36px
      font-size: 16px
      color: $color_white
      cursor: pointer
      transition: all 0.2s
      &::placeholder
        color: $color_grey
      &:focus
        background: rgba(255, 255, 255, 0.25)
        &::placeholder
          color: transparent
    &.from
      input
        background-image: url('../img/icons/from-icon.svg')
        background-repeat: no-repeat
        background-position: 16px 50%
    &.where
      input
        background-image: url('../img/icons/location-icon.svg')
        background-repeat: no-repeat
        background-position: 16px 50%
    &.date
      input
        background-image: url('../img/icons/date-icon.svg')
        background-repeat: no-repeat
        background-position: 16px 50%
        padding-right: 100px
      .data-value
        position: absolute
        right: 24px
        top: 28px
        color: $color_grey
        font-size: 16px
        font-family: $font_medium
      &.active
        .data-value
          color: $color_white


.actual-trips
  padding-bottom: 116px
.actual-trips__item
  background: rgba(255, 255, 255, 0.2)
  backdrop-filter: blur(30px)
  margin-bottom: 16px
  position: relative
  .actual-trips__plug
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0
.actual-trips__price
  padding: 16px
  img
    margin-right: 15px
  span
    font-size: 16px
    line-height: 24px
    color: $color_grey
    b
      vertical-align: baseline
      display: inline-block
      margin-left: 5px
      font-size: 16px
      line-height: 24px
      color: $color_white
      font-family: $font_medium

.actual-trips__way
  padding: 16px
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  .from
    font-size: 16px
    line-height: 24px
    font-family: $font_medium
    margin-bottom: 12px
    img
      margin-right: 14px
      width: 24px
  .where
    font-size: 16px
    line-height: 24px
    font-family: $font_medium
    img
      margin-right: 14px
      width: 24px
  .time
    .delimiter
      margin-left: 6px
      &:first-child
        margin-bottom: 8px
      &:last-child
        margin-bottom: 12px
    .time__value
      margin-bottom: 8px
      span
        font-size: 16px
        line-height: 24px
        color: $color_grey
        b
          vertical-align: baseline
          display: inline-block
          margin-left: 5px
          font-size: 16px
          line-height: 24px
          color: $color_white
          font-family: $font_medium
      img
        margin-right: 14px
        width: 24px
.actual-trips__loadmore
  margin-top: 40px
  .main-btn
    width: 100%

.popular-questions
  padding: 56px 0 116px
.popular-questions__item
  padding: 24px
  text-align: center
  border: 1px solid rgba(255, 255, 255, 0.5)
  margin-bottom: 24px
  &:last-child
    margin-bottom: 0
  figure
    margin-bottom: 24px
    height: 80px
    width: 80px
    text-align: center
    width: 100%
    svg
      max-width: 100%
      height: auto
      max-height: 100%
  a
    font-size: 18px
    line-height: 24px
    font-family: $font_medium
    display: block
    color: $color_white


footer
  padding: 80px 0 56px
  background: #192244
.footer__info
  text-align: center
  margin-bottom: 40px
.footer__logo
  margin-bottom: 24px
  display: inline-block
.footer__info__descr
  font-size: 14px
  line-height: 24px
  color: $color_grey
.footer__nav__item
  margin-bottom: 40px
  ul
    li
      font-size: 14px
      line-height: 24px
      margin-bottom: 14px
      a
        color: $color_white
      &:last-child
        margin-bottom: 0
.footer__nav__heading
  margin-bottom: 24px
  font-family: $font_medium
  font-size: 18px
  line-height: 24px
.footer__subscribe
  form
    b
      display: block
      margin-bottom: 16px
      font-family: $font_medium
      font-size: 18px
      line-height: normal
    p
      font-size: 12px
      line-height: 20px
      margin-bottom: 20px
    .form-group
      position: relative
    button
      position: absolute
      right: 0
      top: 10px
      display: inline-block
      z-index: 2
      background-image: url('../img/icons/arrow-right.svg')
      background-repeat: no-repeat
      background-position: center
      width: 24px
      height: 24px
      border: none
      background-color: transparent
      padding: 0
    input
      display: block
      width: 100%
      border: none
      background-color: transparent
      border-bottom: 1px solid #FFFFFF
      height: 45px
      font-size: 18px
      font-family: $font_medium
      color: $color_white
      margin-bottom: 40px
      &::placeholder
        color: rgba(255, 255, 255, 0.2)
        font-size: 18px
        font-family: $font_medium
      &:focus
        &::placeholder
          color: transparent
.footer__socials
  display: flex
  justify-content: flex-start
  align-items: flex-start
  a
    margin-right: 32px
    display: inline-block
    max-width: 24px
    &:last-child
      margin-right: 0
    svg
      width: 100%
      height: auto

.footer-pay
  background: rgba(255, 255, 255, 0.1)
  padding: 16px 0 33px
.footer-pay__wrapp
  p
    font-size: 14px
    line-height: 24px
    color: $color_grey
    margin-bottom: 22px
.footer-pay__list
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  img
    margin-right: 16px
    max-height: 24px
    width: auto
    max-width: 80px
    &:last-child
      margin-right: 0

header
  width: 100%
  position: fixed
  left: 0
  top: 0
  z-index: 10
.header__preview
  width: 100%
  background: rgba(255, 255, 255, 0.05)
  backdrop-filter: blur(100px)
  padding-top: 48px
  padding-bottom: 16px
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
.header__preview__wrapp
  display: flex
  align-items: center
  justify-content: space-between
.heder__toggler
  padding: 7px 4px
  border: none
  background-color: transparent
  span
    width: 24px
    height: 2px
    background-color: #fff
    margin-bottom: 6px
    display: block
    border-radius: 6px
    &:last-child
      margin-bottom: 0

.header__content
  position: fixed
  left: 0
  top: 0
  width: 100%
  height: 100%
  z-index: 30
  background: linear-gradient(180deg, #595E79 0%, #192244 100%)
  transform: translateX(105%)
  transition: all 0.4s
  &.active
    transform: translateX(0)
  .mainContainer
    height: 100%
  button.close
    position: absolute
    top: 48px
    right: 16px
    padding: 7px
    background-color: transparent
    border: none
.header__content__wrapp
  display: flex
  flex-direction: column
  height: 100vh
  overflow: auto
  padding-top: 45%
  padding-bottom: 25%
.header__menu
  width: 100%
  li
    display: block
    width: 100%
    margin-bottom: 8px
    a
      width: 100%
      display: block
      padding: 12px
      font-size: 16px
      line-height: 24px
      font-family: $font_medium
      color: $color_white
      background: rgba(255, 255, 255, 0.1)
      img
        width: 20px
        margin-right: 12px
.header__language
  margin-top: auto
  display: flex
  justify-content: flex-start
  li
    &.active
      a
        background: #ffffff
        color: #393D5C
    a
      display: inline-block
      width: 48px
      height: 56px
      margin-right: 12px
      background: rgba(255, 255, 255, 0.1)
      font-size: 18px
      line-height: 24px
      color: $color_white
      font-family: $font_medium
      text-transform: uppercase
      text-align: center
      line-height: 56px




//*** POPUP ***//
.popup_container
  position: fixed
  top: -200%
  left: 0
  z-index: 0
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: auto
  min-width: 100vw
  min-height: 100vh
  opacity: 0
  box-sizing: border-box
  &.active
    top: 0
    z-index: 10000
    opacity: 1
    transition: top 0.2s ease-in-out, opacity 1s ease-in-out
.popup_background
  position: absolute
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.7)
.popup
  position: relative
  z-index: 200
  width: 100%
  height: 100vh
  max-width: 656px
  margin: auto
  background-color: #FFFFFF
.popup_close
  position: absolute
  top: 54px
  right: 24px
  cursor: pointer
  z-index: 1
  img
    width: 20px
    height: auto
.support-popup
  color: #fff
  background-color: transparent
.support-popup__content
  padding: 120px 16px 88px
  background: rgba(57, 61, 92, 0.9)
  backdrop-filter: blur(30px)
  height: 100vh
  overflow: auto
.support-popup__heading
  text-align: center
  font-size: 24px
  line-height: 32px
  font-family: $font_medium
  margin-bottom: 24px
.support-popup__descr
  margin-bottom: 24px
  span
    font-size: 14px
    line-height: 24px
    color: $color_grey
    margin-bottom: 8px
  p
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
.support-popup__links
  margin-bottom: 32px
.support-popup__links__item
  font-size: 16px
  line-height: 24px
  color: $color_white
  font-family: $font_medium
  margin-bottom: 8px
  text-align: left
  display: block
  background: rgba(255, 255, 255, 0.1)
  width: 100%
  padding: 12px 16px
  svg
    margin-right: 12px
    vertical-align: sub
    path
      stroke: #fff
  &:last-child
    margin-bottom: 0
.support-popup__socials
  display: flex
  justify-content: flex-start
  align-items: center
  a
    margin-right: 8px
    height: 48px
    width: 48px
    display: flex
    justify-content: center
    align-items: center
    background: rgba(255, 255, 255, 0.1)
    &:last-child
      margin-right: 0
.support-popup__form
  margin-bottom: 40px
  input
    width: 100%
    margin-bottom: 8px
    display: block
    height: 56px
    background: rgba(255, 255, 255, 0.15)
    backdrop-filter: blur(50px)
    padding-left: 12px
    font-size: 16px
    border: none
    color: $color_white
    &::placeholder
      color: $color_grey
    &:focus
      &::placeholder
        color: transparent
  button
    width: 100%
    height: 48px
    background: #7E8DF6
    border: none
    font-size: 16px
    margin-top: 16px
    color: #fff
    font-family: $font_medium



.public-section
  padding-top: 40px
  padding-bottom: 76px
  &.instruction
    .section-heading
      margin-bottom: 32px
      p
        color: $color_white
        font-size: 14px
        line-height: 16px
        color: $color_white
    .public-link
      margin-bottom: 24px
  &.privacy
    .section-heading
      margin-bottom: 40px
      p
        font-size: 14px
        line-height: 20px
  &.faq, &.contacts
    .section-heading
      margin-bottom: 32px
    .public-link
      margin-bottom: 24px
.oferta__content__item
  margin-bottom: 24px
  p
    font-size: 14px
    line-height: 24px
    margin-bottom: 18px
    &:last-child
      margin-bottom: 0
.instruction__content
  p
    font-size: 14px
    line-height: 24px
    color: $color_grey
    margin-bottom: 16px
    &:last-child
      margin-bottom: 0
.public-link
  display: block
  width: max-content
  margin: 0 auto
  padding: 5px
  width: 100%
  height: 48px
  line-height: 37px
  position: relative
  text-align: center
  &::after
    content: ''
    background-image: url('../img/icons/instruction-link-icon.svg')
    background-position: center center
    background-size: contain
    background-repeat: no-repeat
    position: absolute
    right: 12px
    top: 17px
    display: inline-block
    width: 16px
    height: 14px

.faq
  padding-bottom: 76px
.faq-list
  margin-bottom: 10px
.faq__item
  background: rgba(255, 255, 255, 0.2)
  margin-bottom: 8px
  width: 100%
  &.active
    .faq-list__content
      padding: 5px 22px 30px 22px
      opacity: 1
      height: auto
    .faq__preview
      &::after
        transition: all 0.2s
        transform: rotate(180deg)
.faq__preview
  padding: 20px 16px
  padding-right: 40px
  font-size: 14px
  line-height: 16px
  font-family: $font_medium
  position: relative
  cursor: pointer
  &::after
    content: ''
    display: inline-block
    position: absolute
    right: 18px
    top: 25px
    background-image: url('../img/icons/faq-arrow.svg')
    width: 14px
    height: 10px
    background-size: contain
    background-repeat: no-repeat
    background-position: center
    transition: all 0.2s
.faq-list__content
  height: 0
  overflow: hidden
  padding: 0
  font-size: 14px
  line-height: 24px
  color: $color_grey
  opacity: 0

.contacts-info
  background: rgba(255, 255, 255, 0.15)
  backdrop-filter: blur(50px)
.contacts-info__wrapp
  padding: 24px 0
.contacts-info__item
  padding: 0 16px
  &:first-child
    border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    margin-bottom: 24px
  &:last-child
    .contacts-info__text:last-child
      margin-bottom: 0
.contacts-info__text
  margin-bottom: 24px
  span
    display: block
    font-size: 14px
    line-height: 16px
    color: $color_grey
    margin-bottom: 8px
  a, div
    font-size: 18px
    line-height: 24px
    color: $color_white
    font-family: $font_medium


.route__back
  background: rgba(255, 255, 255, 0.05)
  backdrop-filter: blur(100px)
  margin-top: -96px
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  margin-bottom: 64px
  a
    padding: 50px 12px 22px
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
    display: flex
    align-items: center
    color: $color_white
    svg
      margin-right: 16px
.route__searchbar__wrapp
  background: #FFFFFF
  padding-left: 50px
  padding-top: 15px
  padding-bottom: 15px
  padding-right: 16px
  background-image: url('../img/mobile/icons/route-searchbar-delimiter.svg')
  background-repeat: no-repeat
  background-position: 16px 27px
  background-size: 18px
.route__searchbar__item
  span
    display: block
    color: rgba(57, 61, 92, 0.5)
    font-size: 12px
    line-height: 16px
    margin-bottom: 2px
  p
    color: #393D5C
    font-size: 18px
    line-height: 24px
    font-family: $font_medium
.route__searchbar__delimiter
  display: flex
  justify-content: space-between
  align-items: center
  margin-top: -4px
  margin-bottom: -4px
  img
    flex-shrink: 0
    margin-left: 16px
  &::before
    content: ''
    width: 100%
    height: 1px
    background-color: rgba(57, 61, 92, 0.2)
    display: block
.route__searchbar__nav
  padding-left: 16px
  overflow: auto
  padding: 16px 0 16px 16px
.route__searchbar__nav__list
  display: flex
  justify-content: flex-start
  align-items: center
  width: max-content
.route__searchbar__nav__item
  background: rgba(255, 255, 255, 0.05)
  backdrop-filter: blur(50px)
  height: 44px
  display: flex
  justify-content: center
  align-items: center
  padding: 3px 16px
  color: $color_white
  font-size: 14px
  font-family: $font_medium
  margin-right: 8px
  border: none
  &.active
    background: #FFFFFF
    color: #393D5C
  &.calendar
    background: rgba(255, 255, 255, 0.2)
    padding: 3px 10px

.route-results
  padding-top: 16px
  padding-bottom: 60px
.result__item
  background: rgba(255, 255, 255, 0.15)
  backdrop-filter: blur(30px)
  margin-bottom: 16px
.result__info
  padding: 16px
  border-bottom: 1px solid rgba(255, 255, 255, 0.2)
  display: flex
  justify-content: space-between
  align-items: stretch
.result__route
  position: relative
  background-image: url('../img/mobile/icons/result-route-delimiter.svg')
  background-position: 0 6px
  background-repeat: no-repeat
  background-size: 12px 
.result__route__item
  margin-bottom: 40px
  padding-left: 20px
  .city
    font-size: 16px
    line-height: 24px
    margin-bottom: 2px
  .street
    font-size: 12px
    line-height: 16px
    color: $color_grey
    margin-bottom: 4px
  .time
    font-size: 24px
    line-height: 32px
    font-family: $font_medium
  &:last-child
    margin-bottom: 0
.result__details
  display: flex
  flex-direction: column
  text-align: right
  flex-shrink: 0
  button
    margin-top: auto
    border: none
    background-color: transparent
    text-align: right
.result__details__content
  p
    margin-bottom: 6px
    color: $color_grey
    font-size: 12px
    line-height: 16px
    text-align: right
    span
      vertical-align: baseline
      font-family: $font_medium
      color: $color_white
      margin-left: 3px
.result__price
  text-align: center
  padding: 16px
  color: #F5BC33
  font-size: 24px
  line-height: 32px
  font-family: $font_semibold
.result__submit
  width: 100%
  height: 48px
  display: block
  background: #F5BC33
  border: none
  font-size: 16px
  font-family: $font_medium
  color: $color_white
  &:focus
    outline: none

.route-popup__wrapp
  height: 100%
  overflow: auto
.route-popup__heading
  display: flex
  justify-content: space-between
  align-items: center
  padding: 52px 16px 20px
  border-bottom: 1px solid rgba(57, 61, 92, 0.2)
  span
    color: #393D5C
    font-size: 16px
    line-height: 24px
.route-popup__content
  padding: 24px 16px 60px
  color: #393D5C
.route-popup__sticker
  height: 96px
  padding: 5px 25px 5px 28px
  display: flex
  justify-content: flex-start
  align-items: center
  background-color: #5ABDD4
  color: $color_white
  font-size: 14px
  line-height: 24px
  font-family: $font_medium
  margin-bottom: 32px
  img
    margin-right: 25px
.route-popup__info
  padding-left: 36px
  background-image: url('../img/mobile/route-modal-delimiter.svg')
  background-position: 0 0
  background-size: 24px
  background-repeat: no-repeat
  border-bottom: 1px dashed rgba(57, 61, 92, 0.2)
  padding-bottom: 24px
.route-popup__info__item
  margin-bottom: 40px
  .city
    font-size: 18px
    line-height: 24px
    font-family: $font_medium
    margin-bottom: 6px
  .street
    font-size: 14px
    line-height: 16px
    margin-bottom: 12px
    color: rgba(57, 61, 92, 0.5)
  .time
    font-size: 36px
    line-height: 40px
    font-family: $font_semibold
    span
      font-size: 16px
      line-height: 24px
      color: rgba(57, 61, 92, 0.5)
      font-family: $font_medium
      vertical-align: baseline
      margin-left: 13px
  &:last-child
    margin-bottom: 0
.route-popup__price
  margin-bottom: 24px
  padding: 19px 0
  border-bottom: 1px dashed rgba(57, 61, 92, 0.2)
  span
    color: rgba(57, 61, 92, 0.5)
    font-size: 16px
    line-height: 24px
    margin-right: 20px
  b
    display: inline-block
    vertical-align: baseline
    color: #F5BC33
    font-size: 18px
    line-height: 40px
    font-family: $font_semibold
.route-popup__details
  position: relative
  &::after
    content: ''
    position: absolute
    left: 0
    bottom: 0
    z-index: 1
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, #FFFFFF 115.81%)
    height: 20px
    width: 100%
  p
    color: rgba(57, 61, 92, 0.5)
    font-size: 16px
    line-height: 24px
    margin-bottom: 12px
    span
      color: #393D5C
      font-size: 16px
      line-height: 24px
      font-family: $font_medium
      vertical-align: baseline
.route-popup__submit
  background: #F5BC33
  display: block
  width: 100%
  height: 48px
  line-height: 48px
  color: $color_white
  font-size: 16px
  font-family: $font_medium
  text-align: center
  margin-bottom: 24px
  &.violet
    background: #7E8DF6
    border: none
    line-height: normal
.route-popup__way
  padding-left: 31px
  position: relative
  &::before
    content: ''
    position: absolute
    left: 12px
    top: 7px
    height: 88%
    border-left: 2px dashed rgba(90, 189, 212, 0.2)
    width: 2px
  
.route-popup__way__item
  margin-bottom: 24px
  position: relative
  &:last-child
    margin-bottom: 0
    &::before
      background-color: #5ABDD4
  &:first-child
    &::before
      background-color: #5ABDD4
  .city
    font-size: 18px
    line-height: 24px
    color: #393D5C
    margin-bottom: 2px
    font-family: $font_medium
  .time
    color: rgba(57, 61, 92, 0.5)
    font-size: 14px
    line-height: 24px
  &::before
    position: absolute
    content: ''
    left: -26px
    top: 4px
    background-color: #fff
    z-index: 1
    width: 16px
    height: 16px
    display: inline-block
    border-radius: 50%
    border: 2px solid #5ABDD4


.order__back
  background: rgba(255, 255, 255, 0.05)
  backdrop-filter: blur(100px)
  margin-top: -96px
  border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  margin-bottom: 40px
  .order__back__wrapp
    padding: 50px 12px 22px
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
    display: flex
    align-items: center
    justify-content: space-between
    color: $color_white
    a
      height: 20px
.order__info__heading
  text-align: center
  font-size: 18px
  line-height: 24px
  margin-bottom: 24px
  font-family: $font_medium
.order__info
  margin-bottom: 56px
  .result__info
    background: rgba(255, 255, 255, 0.15)
    backdrop-filter: blur(30px)
    border: none

.order__places
  margin-bottom: 30px
.order__places__heading
  text-align: center
  margin-bottom: 24px
  font-size: 18px
  line-height: 24px
  font-family: $font_medium
.order__places__info
  margin-bottom: 24px
  color: $color_grey
  font-size: 14px
  line-height: 24px
  span
    color: $color_white
.order__places__descr
  display: flex
  justify-content: space-between
  align-items: center
.order__places__descr__item
  font-size: 12px
  line-height: 24px
  margin-bottom: 40px
  svg
    margin-right: 12px
    vertical-align: middle
  span
    vertical-align: middle
.order__places__table
  text-align: center
  margin-bottom: 24px
  svg
    max-width: 100%
.order__places__table-descr
  font-size: 14px
  line-height: 24px
  color: $color_grey

.order__promo
  background: rgba(255, 255, 255, 0.1)
  backdrop-filter: blur(50px)
  padding: 24px 16px
  margin-bottom: 56px
.order__promo__heading
  font-size: 18px
  line-height: 32px
  font-family: $font_medium
  margin-bottom: 16px
  text-align: center
.order__promo__form
  .form-group
    width: 100%
    position: relative
    border: 1px solid rgba(255, 255, 255, 0.5)
    margin-bottom: 16px
    &::placeholder
      color: transparent
    &:focus
      border-color: #fff
    i
      position: absolute
      right: 17px
      top: 17px
    input
      width: 100%
      height: 54px
      padding-left: 16px
      border: none
      background-color: transparent
      font-size: 14px
      color: $color_white
      font-family: $font_regular
      transition: all 0.2w
      &:focus
        outline: none
      &::placeholder
        color: $color_grey
  button
    height: 48px
    background: #5ABDD4
    font-size: 16px
    font-family: $font_medium
    border: none
    width: 100%
    color: $color_white


.order__request
  width: 100%
  position: relative
.order__request__descr
  font-size: 12px
  line-height: 20px
  color: $color_grey
.order__request__content
  background-color: #fff
  margin-bottom: 24px
.order__request__count
  display: flex
  justify-content: space-between
  align-items: center
  padding: 24px 16px 16px
  .heading
    color: #9C9EAD
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
  .value
    color: #393D5C
    font-size: 14px
    line-height: 24px
    font-family: $font_semibold
    svg
      margin-right: 16px
      vertical-align: bottom
    span
      vertical-align: baseline
.order__request__price
  display: flex
  align-items: center
  justify-content: space-between
  padding: 0 16px 24px 16px
  border-bottom: 1px solid #393D5C
  .heading
    color: #393D5C
    font-size: 24px
    line-height: 32px
    font-family: $font_medium
  .value
    color: #F5BC33
    font-size: 24px
    line-height: 32px
    font-family: $font_semibold
.order__request__form
  padding: 24px 16px 16px
  input
    width: 100%
    display: block
    margin-bottom: 8px
    height: 56px
    border: none
    background: rgba(57, 61, 92, 0.1)
    font-size: 16px
    color: #393D5C
    padding-left: 16px
    transition: all 0.2s
    border: 1px solid transparent
    &::placeholder
      color: #9295A5
    &:focus
      border: 1px solid rgba(57, 61, 92, 0.2)
      background: #fff
      &::placeholder
        color: transparent
  .checkbox-group.oferta label
    font-size: 12px
    line-height: 16px
  .btn-group
    display: flex
    justify-content: space-between
    align-items: center
    margin-top: 24px
    button
      background-color:#F5BC33
      border: none
      height: 56px
      padding: 5px 5px
      width: 100%
      font-size: 16px
      font-family: $font_medium
      color: $color_white
.checkbox-wrapp
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  margin-bottom: 24px
  margin-top: 16px
.checkbox-group
  display: block
  position: relative
  input
    padding: 0
    height: initial
    width: initial
    margin: 0
    cursor: pointer
    opacity: 0
    position: absolute
    top: 0
    left: 0
    &:checked+label
      &:after
        opacity: 1
      &:before
        background: #393D5C
        border-color: #EBECEF
  label
    position: relative
    cursor: pointer
    width: 100%
    display: block
    color: #9C9EAD
    font-size: 14px
    line-height: 17px
    &:before
      content: ''
      -webkit-appearance: none
      background: #EBECEF
      box-sizing: border-box
      width: 24px
      height: 24px
      display: inline-block
      position: relative
      vertical-align: middle
      cursor: pointer
      transition: all 0.2s
      margin-right: 8px
      margin-top: -3px
      border: 2px solid transparent
      box-sizing: border-box
    &:after
      content: ""
      background-color: transparent
      position: absolute
      left: 9px
      top: 1px
      width: 7px
      border-bottom: 2px solid #fff
      height: 13px
      border-right: 2px solid #fff
      transform: rotate(45deg)
      display: inline-block
      opacity: 0
      transition: all .2s

.order-section
  padding-bottom: 80px


.checkboxes-custom
  margin: 24px 0
  .checkboxes-item
    display: block
    position: relative
    margin-bottom: 8px
    &:last-child
      margin-bottom: 0
    input
      padding: 0
      height: initial
      width: initial
      margin: 0
      cursor: pointer
      opacity: 0
      position: absolute
      top: 0
      left: 0
      &:checked+label
        background: #393D5C
        color: #fff
        svg
          path
            fill: #fff
    label
      position: relative
      cursor: pointer
      width: 100%
      background: rgba(57, 61, 92, 0.1)
      height: 48px
      display: block
      font-family: $font_medium
      font-size: 14px
      line-height: 48px
      color: rgba(57, 61, 92, 0.5)
      text-align: center
      svg
        margin-right: auto
        position: absolute
        left: 12px
        top: 16px


.ticket-popup
  color: #fff
  background-color: transparent
  .popup_close
    position: absolute
.ticket-popup__content
  padding: 120px 16px 88px
  background: #3A3E5D
  height: 100vh
  overflow: auto
.ticket-popup__heading
  text-align: center
  font-size: 18px
  line-height: 24px
  font-family: $font_medium
  margin-bottom: 40px
.support-popup__info__wrapp
  padding-bottom: 16px
  border-bottom: 2px dashed rgba(57, 61, 92, 0.2)
.support-popup__info
  background: #FFFFFF
  margin-bottom: 72px
  .result__route__item .city
    color: #393D5C
  .result__route__item .street
    color: rgba(57, 61, 92, 0.5)
  .result__route__item .time
    color: #393D5C
    span
      color: rgba(57, 61, 92, 0.5)
      font-size: 12px
      line-height: 24px
      font-family: $font_regular
      vertical-align: baseline
      margin-left: 3px
  .result__details__content p
    color: rgba(57, 61, 92, 0.5)
    span
      color: #393D5C
.support-popup__info__number
  width: 100%
  padding: 21px 16px
  text-align: center
  color: #393D5C
  font-size: 24px
  line-height: 32px
  font-family: $font_semibold
  background-image: url('../img/mobile/support-code.png')
  background-position: center center
  background-size: 88%
  background-repeat: no-repeat
  position: relative
  &::before
    content: ''
    display: inline-block
    width: 32px
    height: 32px
    border-radius: 50%
    background: #3A3E5D
    position: absolute
    top: -18px;
    left: -18px
  &::after
    content: ''
    display: inline-block
    width: 32px
    height: 32px
    border-radius: 50%
    background: #3A3E5D
    position: absolute
    top: -18px;
    right: -18px

.support-popup__link
  display: block
  width: 64%
  margin: 0 auto
  padding: 12px
  font-size: 16px
  line-height: 24px
  color: $color_white
  font-family: $font_medium
  background: #7E8DF6
  text-align: center


.ordering__places__container
  width: 276px
  background-image: url('../img/mobile/places-wrapp.svg')
  background-repeat: no-repeat
  background-size: contain
  height: 678px
  position: relative
  margin: 0 auto
.ordering__places__list
  position: absolute
  right: 6px
  bottom: -9px
  display: block
.ordering__places__item
  display: block
  margin-right: 6px
  &:nth-child(2)
    margin-right: 60px
  &:last-child
    margin-right: 0
  input
    padding: 0
    height: initial
    width: initial
    margin: 0
    cursor: pointer
    opacity: 0
    position: absolute
    top: 0
    left: 0
    &:checked+label
      &::before
        background-color:#7E8DF6
      .close
        opacity: 1
    &:disabled+label
      pointer-events: none
      svg
        path
          fill: rgba(255, 255, 255, 0.15)
  label
    width: 100%
    height: 100%
    cursor: pointer
    display: block
    position: relative
    .close
      position: absolute
      width: 24px
      height: 24px
      display: block
      background-size: contain
      z-index: 3
      cursor: pointer
      right: -7px
      top: -7px
      border-radius: 50%
      transition: all 0.2s
      background-repeat: no-repeat
      background-position: center
      background-image: url('../img/place-close-icon.svg')
      background-color: #393D5C
      opacity: 0
    &::before
      content: ''
      width: 97%
      height: 94%
      position: absolute
      left: 1px
      top: 1px
      display: block
      border-radius: 8px
      background-color: transparent
      transition: all 0.2s
    svg
      max-width: 100%
      position: relative
      z-index: 2
.ordering__places__row
  margin-bottom: 14px
  display: flex
  justify-content: flex-start
  &:last-child
    .ordering__places__item
      &:nth-child(2)
        margin-right: 6px


@media screen and ( max-width: 359px)
  .result__info
    padding-left: 6px
    padding-right: 13px
  .result__route__item
    padding-left: 20px
  .result__details__content p
    font-size: 10px
  .result__details__content
    padding-top: 5px
  .footer-pay__list
    img
      margin-bottom: 15px
  

