// MAIN ELEMENTS
$font_bold: 'Gilroy Bold', Arial, sans-serif
$font_semibold: 'Gilroy Semibold', Arial, sans-serif
$font_light: 'Gilroy Light', Arial, sans-serif
$font_regular: 'Gilroy Regular', Arial, sans-serif
$font_medium: 'Gilroy Medium', Arial, sans-serif
$color_second: #359080
        
body   
  //background: $color_bg
  font-family: $font_regular 
  overflow-x: hidden
  background-repeat: no-repeat
  position: relative
  &::before
    content: ''
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background: transparent
    backdrop-filter: blur(0)
    z-index: -1
    transition: all 0.5s
  &.show-modal
    position: relative
    &::before
      background: rgba(43, 74, 69, 0.8)
      backdrop-filter: blur(10px)
      z-index: 40

*, :after, :before
  box-sizing: border-box 

input
  font-family: $font_regular

.mainContainer
  max-width: 1264px
  width: 100%
  margin: 0 auto
  padding: 0 20px
  box-sizing: border-box  
  @media screen and (max-width: 768px)
    padding: 0 16px

.bg-second
  background-color: $color_second

.text-left
  text-align: left
.text-right
  text-align: right
.text-center
  text-align: center

.hidden
  display: none !important

.home-banner
  padding: 160px 0
  .select-box
    margin: 0 auto
    width: max-content
    margin-bottom: 56px
  h1
    color: #ffffff
    text-align: center
    font-size: 48px
    line-height: 64px
    font-family: $font_semibold
    margin-bottom: 40px
.home-banner__catalog
  display: flex
  justify-content: space-between
  align-items: stretch
.home-banner__catalog__item
  background: #FFFFFF
  border-radius: 15px
  width: 18.5%
  padding: 32px 12px 32px
  text-align: center
  figure
    height: 72px
    margin-bottom: 24px
    display: flex
    justify-content: center
    align-items: flex-end
    img
      max-width: 100%
      max-height: 100%
  p
    color: #2B4A45
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold

.select-box
  display: flex
  justify-content: flex-start
  align-items: center
.select-box__text
  color: rgba(255, 255, 255, 0.5)
  font-size: 24px
  font-family: $font_semibold
  margin-right: 24px
.select-box__toggler
  select
    width: 288px
    height: 64px
    border: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 15px
    background-color: transparent
    color: #FFFFFF
    font-family: $font_semibold
    font-size: 24px
    padding: 5px 16px



.how-work
  padding: 120px 0
.how-work__heading
  text-align: center
  color: #2B4A45
  font-size: 72px
  line-height: 80px
  margin-bottom: 80px
  font-family: $font_bold
.how-work__container
  display: flex
  justify-content: flex-start
  align-items: flex-start
  margin-bottom: 140px
  &:last-child
    margin-bottom: 0
.how-work__image
  margin-right: 55px
.how-work__text
  color: rgba(43, 74, 69, 0.5)
  font-family: $font_bold
  font-size: 36px
  line-height: 44px
  padding-top: 100px
  span
    vertical-align: baseline
    color: #2B4A45

.about-service
  padding: 156px 0 87px
  h2
    text-align: center
    margin-bottom: 88px
    font-size: 28px
    line-height: 40px
    font-family: $font_bold
    color: rgba(255, 255, 255, 0.5)
    span
      color: #fff
      vertical-align: baseline
.about-service__list
  display: flex
  justify-content: space-between
  align-items: flex-start
  margin-bottom: 75px
.about-service__item
  width: 47%
.about-service__item__preview
  width: 100%
  height: 296px
  border-radius: 20px
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  margin-bottom: 20px
.about-service__item__descr
  display: flex
  justify-content: space-between
  align-items: center
  span
    color: #FFFFFF
    font-size: 24px
    line-height: 40px
    font-family: $font_semibold
  a
    padding: 15px 25px
    display: inline-block
    border-radius: 15px
    border: 1px solid rgba(255, 255, 255, 0.5)
    color: #FFFFFF
    font-size: 16px
    font-family: $font_semibold
    transition: all 0.2s
    &:hover
      background-color: #fff
      color: #359080
.about-service__descr
  color: rgba(255, 255, 255, 0.8)
  font-size: 14px
  line-height: 18px
  a
    vertical-align: baseline
    color: #fff 
    font-family: $font_semibold



.about-application
  padding: 156px 0 156px
  h2
    text-align: center
    font-size: 28px
    line-height: 38px
    font-family: $font_bold
    margin-bottom: 80px
    color: rgba(43, 74, 69, 0.5)
    span
      color: #2B4A45
      vertical-align: baseline
.about-application__list
  display: flex
  justify-content: center
  align-items: center
.about-application__item
  margin: 0 12px
  min-width: 196px
  display: flex
  justify-content: center
  align-items: center
  border: 1px solid rgba(43, 74, 69, 0.2)
  border-radius: 15px
  padding: 17px 5px
  transition: all 0.3s
  svg
    margin-right: 22px
    path
      transition: all 0.3s
  p
    color: rgba(43, 74, 69, 0.5)
    font-size: 12px
    line-height: 16px
    margin-bottom: 4px
    transition: all 0.3s
  b
    display: block
    color: #2B4A45
    font-size: 18px
    line-height: 24px
    font-family: $font_semibold
    transition: all 0.3s
  &:hover
    background-color: #2B4A45
    p,b
      color: #ffffff
    svg
      path
        fill: #fff


footer
  .mainContainer
    padding: 156px 0 68px
    border-top: 1px solid rgba(43, 74, 69, 0.2)
  &.grey-footer
    background-color: #fafafa
.footer__ty
  color: #2B4A45
  font-size: 24px
  line-height: 34px
  font-family: $font_bold
  margin-bottom: 80px
.footer__contacts
  margin-bottom: 80px
.footer__contacts__item
  margin-bottom: 24px
  font-size: 36px
  line-height: 48px
  font-family: $font_bold
  display: block
  width: max-content
  &:last-child
    margin-bottom: 0
  &.email
    padding-bottom: 4px
    border-bottom: 2px solid #D9663B
    color: #D9663B
  &.phone
    color: #2B4A45

.footer__info
  display: flex
  justify-content: space-between
  align-items: center
.footer__socials
  a
    display: inline-block
    color: #2B4A45
    font-size: 18px
    line-height: 24px
    font-family: $font_bold
    margin-right: 40px
    &:last-child
      margin-right: 0
.footer__creator
  color: rgba(43, 74, 69, 0.5)
  font-size: 18px
  line-height: 24px
  font-family: $font_bold
  a
    vertical-align: baseline
    color: #2B4A45
    margin-left: 14px

header
  position: absolute
  left: 0
  top: 0
  width: 100%
  z-index: 30
.header__wrapp
  display: flex
  align-items: center
  padding: 16px 0
.logo
  margin-right: 28px
.header__nav
  li
    display: inline-block
    a
      color: #FFFFFF
      font-size: 16px
      line-height: 24px
      font-family: $font_semibold
      padding: 5px 12px 
.header__info
  margin-left: auto
  display: flex
  align-items: center
  a
    display: inline-block
    color: #FFFFFF
    font-size: 16px
    font-family: $font_bold
    padding: 5px 16px
    &.active
      border-radius: 24px
      padding: 16px 33px
      margin-left: 16px
      background: #D9663B
    &:focus
      outline: none
  button
    width: 48px
    height: 48px
    border-radius: 50%
    background: rgba(255, 255, 255, 0.2)
    text-align: center
    line-height: 48px
    margin-left: 16px
    border: none
    padding: 0
    transition: all 0.2s
    svg
      height: 100%
      path
        transition: all 0.2s
    &.profile, &.history
      &:hover
        background: #FFFFFF
        svg
          path
            stroke: #359080
    &.track
      background: #FFFFFF

.about-service-page
  padding-bottom: 156px
  .about-service__heading
    text-align: center
    margin-bottom: 88px
    font-size: 28px
    line-height: 40px
    font-family: $font_bold
    color: rgba(255, 255, 255, 0.5)
    span
      color: #fff
      vertical-align: baseline
  .about-service__descr
    color: rgba(43, 74, 69, 0.8)
    font-size: 14px
    line-height: 18px
    a
      color: #2B4A45
      vertical-align: baseline
.about-service__content
  padding-top: 160px
  padding-bottom: 156px
  margin-bottom: 115px
  .about-service__list
    align-items: stretch
    margin-bottom: 0
  .about-service__item__descr
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
    min-height: 290px
    span
      display: block
      margin-bottom: 16px
    .descr
      color: rgba(255, 255, 255, 0.5)
      font-family: $font_medium
      font-size: 18px
      line-height: 24px
      margin-bottom: 40px
    a
      margin-top: auto


.blog__heading
  padding: 156px 0 64px
  color: rgba(255, 255, 255, 0.5)
  font-size: 48px
  line-height: 56px
  font-family: $font_bold
  margin-bottom: 64px
  span
    vertical-align: baseline
    color: #ffffff
.blog__list
  display: flex
  justify-content: space-between
  align-items: stretch
  flex-wrap: wrap
.blog__item
  border-radius: 10px
  background: #FFFFFF
  border: 1px solid rgba(43, 74, 69, 0.1)
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
  width: 32%
  margin-bottom: 40px
  overflow: hidden
  .preview
    display: block
    width: 100%
    height: 292px
    background-position: center
    background-repeat: no-repeat
    background-size: cover
  .content
    padding: 24px
    .heading
      color: #2B4A45
      font-size: 18px
      line-height: 24px
      display: block
      font-family: $font_semibold
      margin-bottom: 24px
    time
      color: rgba(43, 74, 69, 0.5)
      font-size: 14px
      line-height: 24px
      font-family: $font_semibold
.blog__loadmore
  text-align: center
  button
    display: inline-block
    padding: 14px 28px
    color: #2B4A45
    font-size: 16px
    font-family: $font_semibold
    border-radius: 15px
    background: rgba(53, 144, 128, 0.2)
    border: none
    transition: all 0.2s
    &:hover
      background: #D9663B
      color: #fff

.blog-article
  .mainContainer
    position: relative
  .blog__heading
    text-align: center
    font-size: 36px
    line-height: 56px
    font-family: $font_bold
    color: #fff
    padding-bottom: 56px
    padding-top: 164px
    margin-bottom: 56px
  .back
    position: absolute
    top: -65px
    left: 25px
    color: #FFFFFF
    font-size: 16px
    font-family: $font_semibold
    svg
      margin-right: 14px
      vertical-align: text-top

.blog__article
  width: 66%
  margin: 0 auto
  time
    color: #2B4A45
    font-size: 18px
    line-height: 24px
    font-family: $font_semibold
    margin-bottom: 40px
    display: block
    img
      margin-right: 8px
      vertical-align: top
.blog__article__preview
  width: 100%
  height: 340px
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  margin-bottom: 24px
.blog__article__content
  color: #2B4A45
  font-size: 14px
  line-height: 24px
  font-family: $font_medium
  margin-bottom: 40px
  p
    margin-bottom: 22px
    &:last-child
      margin-bottom: 0

.blog__article__share
  padding: 11px 0
  border-top: 1px solid #D8D8D8
  border-bottom: 1px solid #D8D8D8
  margin-bottom: 32px
  span
    color: rgba(43, 74, 69, 0.5)
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
    margin-right: 24px
    vertical-align: baseline
  a
    margin-right: 16px
    font-size: 14px
    line-height: 24px
    color: #D9663B
    font-family: $font_semibold

.blog__article__nav
  display: flex
  justify-content: space-between
.blog__article__nav__item
  display: flex
  justify-content: flex-start
  align-items: center
  transition: all 0.2s
  .icon
    border: 1px solid rgba(43, 74, 69, 0.2)
    width: 40px
    height: 40px
    margin-right: 12px
    border-radius: 10px
    text-align: center
    line-height: 40px
    transition: all 0.2s
  span
    color: rgba(43, 74, 69, 0.5)
    font-size: 14px
    line-height: 24px
    font-family: $font_semibold
    transition: all 0.2s
  &.next
    .icon
      order: 1
      margin-right: 0
      margin-left: 12px
      svg
        path
          transition: all 0.2s
    span
      color: #359080
  &:hover
    span
      color: #D9663B
    .icon
      background-color:#D9663B
      border-color: #D9663B
      svg
        path
          fill: #fff
          fill-opacity: 1

.invite-banner
  padding-top: 116px
  min-height: 100vh
.invite-banner__form
  width: 40%
  margin: 0 auto
  background: rgba(255, 255, 255, 0.9)
  border-radius: 15px
  backdrop-filter: blur(50px)
  overflow: hidden
  padding: 40px
  form
    input, select
      width: 100%
      display: block
      margin-bottom: 12px
      height: 56px
      background: rgba(43, 74, 69, 0.05)
      border-radius: 10px
      padding: 5px 12px
      border: none
      font-size: 14px
      font-family: $font_semibold
      color: #2B4A45
      &::placeholder
        color: rgba(43, 74, 69, 0.4)
  button
    background: #359080
    display: block
    width: 100%
    border-radius: 15px
    height: 48px
    color: #FFFFFF
    font-size: 16px
    font-family: $font_semibold
    margin-top: 24px
    border: none
    transition: all 0.2s
    &:hover
      background: #D9663B
.invite-banner__form__heading
  text-align: center
  color: #359080
  font-size: 24px
  line-height: 32px
  font-family: $font_bold
  margin-bottom: 6px
.invite-banner__form__descr
  text-align: center
  color: #2B4A45
  font-size: 14px
  line-height: 24px
  font-family: $font_semibold
  margin-bottom: 24px
  span
    vertical-align: baseline
    color: #359080

.invite-advantage
  padding: 156px 0
.invite-advantage__heading
  text-align: center
  color: rgba(43, 74, 69, 0.5)
  font-size: 28px
  line-height: 40px
  font-family: $font_bold
  margin-bottom: 80px
  span
    vertical-align: baseline
    color: #2B4A45
.invite-advantage__list
  display: flex
  justify-content: space-between
  align-items: stretch
.invite-advantage__item
  width: 32.2%
  border: 1px solid rgba(43, 74, 69, 0.2)
  border-radius: 40px
  padding: 40px 24px
  text-align: center
  figure
    height: 80px
    text-align: center
    margin-bottom: 36px
    img
      max-height: 80px
      max-width: 90%
  b
    display: block
    text-align: center
    margin-bottom: 16px
    color: #2B4A45
    font-size: 18px
    line-height: 24px
    font-family: $font_bold
  p
    color: rgba(43, 74, 69, 0.5)
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold

.invite-about
  padding: 156px 0
.invite-about__heading
  text-align: center
  color: #FFFFFF
  font-size: 48px
  line-height: 56px
  font-family: $font_bold
  margin-bottom: 116px
.invite-about__item
  margin-bottom: 116px
  display: flex
  justify-content: space-between
  align-items: stretch
  &:last-child
    margin-bottom: 0
  &:nth-last-child(odd)
    .invite-about__item__icon
      order: 1
      margin-right: 0
      margin-left: 64px
.invite-about__item__icon
  width: 564px
  height: 380px
  display: flex
  justify-content: center
  align-items: center
  position: relative
  border: 1px solid rgba(255, 255, 255, 0.2)
  border-radius: 40px
  margin-right: 64px
  flex-shrink: 0
  .number
    position: absolute
    top: 40px
    left: 40px
    color: #FFFFFF
    font-size: 24px
    line-height: 40px
    font-family: $font_bold
.invite-about__item__text
  font-size: 24px
  line-height: 40px
  color: #FFFFFF
  font-family: $font_bold
  width: 100%
  padding-top: 80px
  display: flex
  flex-direction: column
  a
    border: 1px solid rgba(255, 255, 255, 0.5)
    display: block
    border-radius: 15px
    width: max-content
    padding: 12px 22px
    font-size: 16px
    font-family: $font_semibold
    line-height: 24px
    color: #fff
    margin-top: auto
    transition: all 0.2s
    &:hover
      background-color: #fff
      color: #359080

.invite-company
  padding: 115px 0 150px

.company-about
  padding: 232px 0 180px
.company-about__heading
  text-align: center
  font-size: 48px
  line-height: 56px
  font-family: $font_bold
  margin-bottom: 40px
  color: rgba(255, 255, 255, 0.5)
  span
    color: #ffffff
    vertical-align: baseline
.company-about__descr
  text-align: center
  color: rgba(255, 255, 255, 0.5)
  font-size: 18px
  line-height: 24px
  font-family: $font_medium

.company-delivery
  padding: 156px 0

.company-about-img
  video
    width: 100%
    height: 800px




.restaurants-nav
  padding: 160px 0 40px
.restaurants-heading
  margin-bottom: 40px
  .select-box
    .select-box__toggler select
      width: auto
      height: auto
      background-color: transparent
      border: none
      padding-left: 0
      font-size: 36px
      line-height: 48px
      font-family: $font_bold
    .select-box__text
      margin-right: 7px
      font-size: 36px
      line-height: 48px
      font-family: $font_bold

.restaurants-nav__wrapp
  display: flex
  justify-content: space-between
  align-items: center
.restaurants-currency
  display: flex
  justify-content: flex-start
  align-items: center
  .heading
    color: #FFFFFF
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
    margin-right: 10px
  a
    display: inline-block
    width: 48px
    height: 48px
    border: 1px solid rgba(255, 255, 255, 0.2)
    border-radius: 15px
    text-align: center
    line-height: 48px
    margin-right: 8px
    transition: all 0.2s
    &:hover
      background: #D9663B
      border-color: #D9663B
    &:last-child
      margin-right: 0
    &:focus
      outline: none

.restaurants-sort
  max-width: 69%
  overflow: auto
.restaurants-sort__wrapp
  width: max-content
  display: flex
  justify-content: flex-start
  align-items: center
  a
    padding: 2px 16px 2px 12px
    background: rgba(255, 255, 255, 0.2)
    border-radius: 15px
    display: block
    color: #FFFFFF
    font-size: 16px
    font-family: $font_medium
    height: 48px
    line-height: 46px
    margin-right: 8px
    transition: all 0.2s
    img
      margin-right: 10px
    &.active
      background: #D9663B
    &:hover
      background-color: #D9663B
    &:focus
      outline: none
.restaurants-results
  padding-top: 40px
  padding-bottom: 20px
.restaurants-results__list
  display: flex
  justify-content: space-between
  align-items: stretch
.restaurants-result
  width: 23%
  background: #FFFFFF
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 15px
  margin-bottom: 20px
  position: relative
  overflow: hidden
  &.disabled
    .link
      background: rgba(43, 74, 69, 0.7)
    .date
      position: relative
      z-index: 3
      color: #FFFFFF
      span
        color: #FFFFFF
      svg
        path
          stroke: rgba(255, 255, 255, 0.8)
  .date
    padding: 12px 18px
    color: #2B4A45
    font-size: 14px
    line-height: 24px
    font-family: $font_semibold
    span
      vertical-align: baseline
      color: #359080
      margin-right: 5px
    svg
      margin-right: 6px
      vertical-align: bottom
  .preview
    height: 146px
    width: 100%
    background-repeat: no-repeat
    background-size: cover
    background-position: center
  .content
    padding: 16px 18px
  .name
    color: #2B4A45
    font-size: 24px
    line-height: 32px
    font-family: $font_semibold
    margin-bottom: 18px
  .delivery-item
    margin-bottom: 12px
    color: #2B4A45
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
    display: flex
    align-items: center
    justify-content: flex-start
    .icon
      min-width: 20px
      margin-right: 10px
    &:last-child
      margin-bottom: 0
  .link
    position: absolute
    z-index: 2
    left: 0
    right: 0
    width: 100%
    height: 100%
    padding: 15px 19px
    display: flex
    justify-content: center
    align-items: center
    span
      color: #fff
      line-height: 24px
      font-size: 16px
      font-family: $font_semibold

.restaurant__top
  padding-top: 170px
  padding-bottom: 15px
  position: relative
  background-color: #fafafa
.restaurant__preview
  position: absolute
  width: 100%
  height: 336px
  top: 0
  left: 0
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  &::after
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 140px
    background: linear-gradient(180deg, rgba(27, 45, 42, 0.9) 0%, rgba(27, 45, 42, 0) 100%)
.restaurant__top__wrapp
  position: relative
  width: 100%
  display: flex
  justify-content: space-between
  align-items: flex-start
.restaurant__info
  width: 66%
  background: rgba(255, 255, 255, 0.8)
  backdrop-filter: blur(50px)
  border-radius: 15px
  padding: 32px
.restaurant__info__top
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 24px
  .back
    color: #2B4A45
    font-family: $font_semibold
    line-height: 24px
    font-size: 16px
    background: transparent
    padding: 0
    border: 0
    img
      margin-right: 14px
  .rating
    a
      display: inline-block
      color: #2B4A45
      line-height: 20px
      font-size: 16px
      font-family: $font_semibold
      border-bottom: 2px solid #2B4A45
      margin-right: 22px
      &:focus
        outline: none
    img
      margin-right: 12px
    .text
      font-size: 18px
      line-height: 24px
      color: #D9B63B
      font-family: $font_bold
      span
        color: #848a89
        vertical-align: baseline
.restaurant__info__content
  .name
    color: #2B4A45
    font-size: 36px
    line-height: 48px
    font-family: $font_bold
    margin-bottom: 24px
  .details
    margin-bottom: 30px
  .details__item
    display: block
    width: 100%
    margin-bottom: 16px
    color: #2B4A45
    line-height: 24px
    font-size: 18px
    font-family: $font_semibold
    span
      margin-right: 7px
      &.time
        color: #359080
    &:last-child
      margin-bottom: 0
    .icon
      display: inline-block
      width: 22px
      margin-right: 10px
      img
        max-width: 100%
        height: auto

.restaurant__info__bottom
  display: flex
  justify-content: space-between
  align-items: center
  .menu
    max-width: 65%
    a
      display: inline-block
      color: #2B4A45
      font-family: $font_medium
      font-size: 14px
      line-height: 16px
      padding: 12px
      background: rgba(43, 74, 69, 0.1)
      border-radius: 15px
      margin-right: 8px
      transition: all 0.2s
      &.active
        background: #2B4A45
        color: #fff
      &:hover
        background: #2B4A45
        color: #fff
  .search
    width: 32%
    display: flex
    justify-content: flex-end
    input
      display: block
      height: 40px
      width: 40px
      border-radius: 10px
      background-color: rgba(43, 74, 69, 0.1)
      background-image: url('../img/icons/search-icon.svg')
      background-position: 10px 10px
      background-repeat: no-repeat
      background-size: 19px
      padding-left: 0
      border: 1px solid transparent
      cursor: pointer
      transition: all 0.4s
      color: transparent
      &:hover
        background-color: #fff
        border: 1px solid #2B4A45
      &:focus
        width: 100%
        background-color: #fff
        border: 1px solid #2B4A45
        padding-left: 44px
        color: #2B4A45

.restaurant__order
  width: 32%
  background: rgba(255, 255, 255, 0.8)
  border: 1px solid rgba(43, 74, 69, 0.2)
  backdrop-filter: blur(50px)
  border-radius: 15px
  overflow: hidden
  padding: 32px 0 24px
  .heading
    text-align: center
    color: #2B4A45
    line-height: 24px
    font-size: 18px
    font-family: $font_semibold
    margin-bottom: 24px
  .submit
    padding: 8px 24px 0
    button
      width: 100%
      height: 48px
      border-radius: 15px
      background: #D9663B
      color: #FFFFFF
      font-size: 16px
      font-family: $font_semibold
      transition: all 0.2s
      border: none
      &:hover
        background-color: #359080
.restaurant__order__list
  padding-bottom: 40px
  border-bottom: 1px solid rgba(43, 74, 69, 0.2)
.restaurant__order__item
  margin-bottom: 16px
  display: flex
  justify-content: flex-start
  align-items: center
  padding: 0 24px
  .img
    width: 40px
    height: 40px
    border-radius: 10px
    background-size: cover
    background-repeat: no-repeat
    background-position: center
    margin-right: 16px
  .info
    margin-right: 10px
    width: 65%
    .name
      margin-bottom: 8px
      color: #2B4A45
      font-size: 14px
      line-height: 16px
      font-family: $font_medium
    .price
      color: #D9663B
      font-size: 14px
      line-height: 16px
      font-family: $font_semibold
  .count
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
    color: #2B4A45
    padding-top: 3px
  .delete
    background-color: transparent
    border: none
    padding: 0
    margin-left: auto
  &:last-child
    margin-bottom: 0
.restaurant__order__delivery
  padding: 16px 26px
  color: #2B4A45
  font-size: 16px
  line-height: 24px
  font-family: $font_semibold
  padding-bottom: 0
  img
    margin-right: 12px
.restaurant__order__price
  padding: 16px 24px
  display: flex
  justify-content: space-between
  align-items: center
  border-top: 1px solid rgba(43, 74, 69, 0.2)
  margin-top: 16px
  span
    color: #2B4A45
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
    &.value
      font-size: 18px
      color: #D9663B

.catalog
  padding-bottom: 120px
.catalog-section
  background-color: #fafafa
.catalog__wrapp
  padding-bottom: 56px
  margin-bottom: 56px
  border-bottom: 1px solid rgba(43, 74, 69, 0.2)
  width: 66%
  &:last-child
    border-bottom: none
    margin-bottom: 0
    padding-bottom: 0
  .loadmore
    margin: 0 auto
    background: rgba(53, 144, 128, 0.2)
    border: none
    border-radius: 15px
    padding: 12px 44px
    color: #2B4A45
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
    display: block
    width: max-content
    margin-top: 16px
    transition: all 0.2s
    &:focus
      outline: none
    &:hover
      background: #D9663B
      color: #fff
.catalog__heading
  text-align: center
  margin-bottom: 40px
  color: #2B4A45
  font-size: 36px
  line-height: 48px
  font-family: $font_bold
.catalog__list
  display: flex
  justify-content: space-between
  align-items: stretch
  flex-wrap: wrap
.catalog__item
  background: #FFFFFF
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1)
  border-radius: 15px
  width: 32%
  overflow: hidden
  margin-bottom: 24px
  .preview
    width: 100%
    height: 180px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
  .info
    padding: 12px
    height: 100px
    overflow: hidden
    .name
      color: #2B4A45
      font-size: 16px
      line-height: 24px
      margin-bottom: 4px
      font-family: $font_semibold
    .descr
      color: #2B4A45
      font-size: 12px
      line-height: 16px
      font-family: $font_medium
  .size
    display: flex
    justify-content: space-between
    align-items: stretch
    margin-top: 4px
    margin-bottom: 8px
    padding-left: 12px
    padding-right: 12px
  .size__item
    width: 48%
    &.not-select
      width: 100%
      input
        &:checked+label
          background: rgba(43, 74, 69, 0.1)
          color: #2B4A45
    label
      width: 100%
      height: 40px
      text-align: center
      line-height: 40px
      border-radius: 15px
      background: rgba(43, 74, 69, 0.1)
      color: #2B4A45
      font-size: 14px
      font-family: $font_semibold
      display: block
      transition: all 0.2s
      cursor: pointer
    input
      display: none
      &:checked+label
        background: #2B4A45
        color: #fff
  .details
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0 12px
    padding-bottom: 12px
    .price
      color: #D9663B
      font-size: 14px
      line-height: 16px
      font-family: $font_bold
    .buy
      span
        color: #2B4A45
        display: inline-block
        font-size: 14px
        font-family: $font_semibold
        margin-right: 12px
        vertical-align: text-top
      button
        width: 40px
        height: 40px
        border-radius: 15px
        background: rgba(217, 102, 59, 0.2)
        text-align: center
        line-height: 50px
        border: none
        padding: 0
        transition: all 0.2s
        svg
          path
            transition: all 0.4s
        &:hover
          background-color: #D9663B
          svg
            path
              fill: #fff

.review__eval__list
  display: flex
  justify-content: flex-end
  flex-direction: row-reverse
  input[type="radio"]
    display: none
  label
    padding-left: 15px 
    cursor: pointer
    svg
      transition: all 0.5s
      path
        transition: all 0.5s
    &:last-child  
      margin-left: 0
  label:hover, label:hover ~ label 
    svg  
      path
        fill:#D9B63B 
        stroke:#D9B63B
  input[type="radio"]:checked ~ label
    svg
      path
        fill:#D9B63B
        stroke:#D9B63B

.reviews__heading
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 40px
  h2
    color: #2B4A45
    font-size: 36px
    line-height: 48px
    font-family: $font_semibold
  .count
    color: rgba(43, 74, 69, 0.5)
    font-size: 18px
    line-height: 24px
    font-family: $font_semibold
    span
      color: #2B4A45
.review__eval
  margin-bottom: 35px
  p
    color: #2B4A45
    font-size: 16px
    line-height: 24px
    margin-bottom: 20px
    font-family: $font_semibold

.review__text
  margin-bottom: 40px
  label
    display: block
    width: 100%
    margin-bottom: 12px
    color: #2B4A45
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
  textarea
    resize: none
    display: block
    height: 96px
    width: 100%
    border-radius: 15px
    border: 1px solid rgba(43, 74, 69, 0.2)
    padding: 12px
    background-color: transparent
    font-family: $font_medium
    &::placeholder
      font-family: $font_medium
      color: rgba(43, 74, 69, 0.4)
.reviews__item
  width: 100%
  margin-bottom: 16px
  border: 1px solid rgba(43, 74, 69, 0.2)
  border-radius: 15px
  padding: 24px 16px
  .info
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 15px
    .name
      color: #2B4A45
      font-size: 16px
      line-height: 24px
      font-family: $font_semibold
    .date
      color: rgba(43, 74, 69, 0.5)
      font-size: 14px
      line-height: 24px
      font-family: $font_semibold
  .rating
    margin-bottom: 20px
    svg
      margin-right: 8px
      width: 20px
  .descr
    color: #2B4A45
    font-size: 14px
    line-height: 24px
.reviews__loadmore
  margin: 0 auto
  margin-top: 40px
  width: max-content
  border-radius: 15px
  background: rgba(53, 144, 128, 0.2)
  display: block
  padding: 12px 28px
  color: #2B4A45
  font-size: 16px
  line-height: 24px
  font-family: $font_semibold
  transition: all 0.2s
  border: none
  &:focus
    outline: none
  &:hover
    background: #D9663B
    color: #fff

.restaurant-about
  padding: 156px 0
  p
    color: rgba(43, 74, 69, 0.8)
    font-size: 14px
    line-height: 18px
    margin-bottom: 80px
    a
      vertical-align: baseline
      color: #2B4A45
      font-size: 14px
      font-family: $font_semibold
    &:last-child
      margin-bottom: 0
.restaurant-about__heading
  margin-bottom: 24px

.restaurant__empty
  padding-top: 68px
  padding-bottom: 98px
  text-align: center
  span
    color: rgba(43, 74, 69, 0.5)
    font-size: 36px
    line-height: 48px
    font-family: $font_bold


.eval__heading
  background: #359080
  padding-top: 160px
  padding-bottom: 40px
  text-align: center
  color: #FFFFFF
  font-size: 36px
  line-height: 48px
  font-family: $font_bold
.eval__container
  padding-top: 56px
  padding-bottom: 140px
.eval__descr
  text-align: center
  margin-bottom: 64px
  color: rgba(43, 74, 69, 0.5)
  font-size: 18px
  line-height: 24px
  font-family: $font_semibold
.eval__list
  display: flex
  justify-content: center
  flex-direction: row-reverse
  margin-bottom: 100px
  input[type="radio"]
    display: none
  label
    padding-left: 15px 
    cursor: pointer
    svg
      transition: all 0.5s
      path
        transition: all 0.5s
    &:last-child  
      margin-left: 0
  label:hover, label:hover ~ label 
    svg  
      path
        fill: #E0AB36
        stroke: #E0AB36
        fill-opacity: 1
  input[type="radio"]:checked ~ label
    svg
      path
        fill: #E0AB36
        stroke: #E0AB36
        fill-opacity: 1
.eval__submit
  margin: 0 auto
  height: 48px
  display: block
  width: max-content
  padding: 5px 67px
  border-radius: 15px
  background: rgba(217, 102, 59, 0.2)
  color: #D9663B
  font-size: 16px
  font-family: $font_semibold
  border: none
  transition: all 0.2s
  &:hover
    background: #D9663B
    color: #fff


.tracker__heading
  background: #359080
  padding: 160px 0 40px
  color: rgba(255, 255, 255, 0.5)
  font-size: 36px
  line-height: 48px
  font-family: $font_bold
  span
    vertical-align: baseline
    color: #fff
    margin-left: 6px
.tracker__wrapp
  position: relative
.tracker__card
  background: #359080
  width: 416px
  border-radius: 20px
  position: absolute
  right: 0
  top: -97px
.tracker__card__info
  display: flex
  justify-content: space-between
  align-items: flex-start
  padding-bottom: 22px
  border-bottom: 1px solid rgba(43, 74, 69, 0.2)
  margin-bottom: 22px
  .box
    display: flex
    justify-content: flex-start
    width: 49%
    align-items: center
    .icon
      background: rgba(217, 102, 59, 0.2)
      display: inline-block
      border-radius: 15px
      width: 48px
      height: 48px
      line-height: 61px
      text-align: center
      flex-shrink: 0
      margin-right: 12px
    .text
      p
        margin-bottom: 2px
        color: rgba(43, 74, 69, 0.5)
        font-size: 12px
        line-height: 16px
        font-family: $font_medium
      span
        display: block
        color: #2B4A45
        font-size: 24px
        line-height: 32px
        text-overflow: ellipsis
        white-space: nowrap
        max-width: 128px
        overflow: hidden
        font-family: $font_semibold
.tracker__card__wrapp
  border: 1px solid rgba(43, 74, 69, 0.2)
  background: #FFFFFF
  border-radius: 20px
  padding: 24px
.tracker__card__item
  margin-bottom: 24px
  color: #2B4A45
  font-size: 16px
  line-height: 22px
  font-family: $font_medium
  &:last-child
    margin-bottom: 0
  &::before
    content: ''
    width: 24px
    display: inline-block
    vertical-align: bottom
    height: 24px
    border-radius: 8px
    background: rgba(43, 74, 69, 0.1)
    margin-right: 12px
  &.ready
    &::before
      background-color: rgba(53, 144, 128, 0.2)
      background-image: url('../img/icons/check-icon.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 14px
  &.during
    &::before
      background-color: rgba(53, 144, 128, 0.2)
      background-image: url('../img/icons/during-icon.svg')
      background-position: center
      background-repeat: no-repeat
      background-size: 20px
  
.tracker__card__courier
  padding: 24px
  display: flex
  justify-content: space-between
  align-items: center
  .info
    display: flex
    align-items: center
  .avatar
    flex-shrink: 0
    width: 72px
    height: 72px
    border-radius: 15px
    background-size: cover
    background-position: center
    background-repeat: no-repeat
    margin-right: 16px
  .heading
    margin-bottom: 4px
    color: #FFFFFF
    font-size: 12px
    line-height: 16px
    font-family: $font_medium
  .name
    color: #FFFFFF
    font-size: 18px
    line-height: 24px
    font-family: $font_semibold
    margin-bottom: 7px
  .rating
    svg
      margin-right: 10px
      vertical-align: text-bottom
    span
      font-size: 14px
      line-height: 24px
      font-family: $font_medium
      color: rgba(255, 255, 255, 0.5)
      span
        color: #fff
        vertical-align: baseline
  .nav
    a
      display: inline-block
      width: 48px
      height: 48px
      border-radius: 15px
      background: rgba(255, 255, 255, 0.2)
      text-align: center
      line-height: 58px
      margin-right: 8px
      transition: all 0.2s
      &:hover
        background-color: #D9663B
      &:last-child
        margin-right: 0
  

.tracker-pickup
  width: 100%
  height: 100vh
  background-image: url('../img/tracker-pickup-bg.jpg')
  background-repeat: no-repeat
  background-position: center
  background-size: cover
  display: flex
  justify-content: center
  align-items: center
.tracker-pickup__modal
  margin: 0 auto
  padding: 40px 43px
  background-color: #fff
  width: 52%
  border-radius: 20px
  .heading
    text-align: center
    margin-bottom: 26px
    color: #2B4A45
    font-size: 24px
    line-height: 32px
    font-family: $font_semibold
  .img
    text-align: center
    img
      max-width: 313px
  .back
    margin: 0 auto
    padding: 16px 67px
    color: #D9663B
    font-size: 16px
    font-family: $font_semibold
    background: rgba(217, 102, 59, 0.2)
    border-radius: 15px
    display: block
    width: max-content
    transition: all 0.2s
    &:hover
      background: #D9663B
      color: #fff
  .info
    margin-bottom: 40px
    .info-item
      margin-bottom: 24px
      color: rgba(43, 74, 69, 0.5)
      font-size: 14px
      line-height: 16px
      font-family: $font_semibold
      span
        margin-left: 5px
        vertical-align: baseline
        color: #2B4A45
        font-size: 14px
        line-height: 16px
        font-family: $font_semibold
      .icon
        width: 18px
        margin-right: 15px
        display: inline-block
        img
          max-width: 100%
          height: auto
      &:last-child
        margin-bottom: 0

.cabinet-section
  position: fixed
  right: 0
  top: 0
  height: 100vh
  overflow: auto
  z-index: 99
  background-color: #fff
  display: flex
  align-items: center
  transform: translateX(105%)
  transition: all 0.6s
  &.active
    transform: translateX(0)
  &.v2
    align-items: flex-start
.cabinet-section__close
  position: absolute
  right: 27px
  top: 27px
  background: transparent
  padding: 10px
  border: none
  svg
    path
      transition: all 0.2s
  &:hover
    svg
      path
        fill: #000
.cabinet-section__container
  width: 424px
  padding: 37px 40px
  &.profile
    min-height: 100vh
    .heading
      margin-bottom: 28px
  &.address-success
    .heading
      margin-bottom: 80px
  .success-container
    text-align: center
    img
      margin-bottom: 80px
      max-width: 156px
    button
      width: 100%
      border: none
      background-color: #359080
      height: 48px
      text-align: center
      color: #FFFFFF
      font-size: 16px
      font-family: $font_semibold
      border-radius: 15px
  &.uppass
    .cabinet-section__form
      .form-group.email-code
        margin-bottom: 30px
      .submit
        margin-top: 26px
  &.registration
    .cabinet-section__form
      .form-group
        margin-bottom: 22px
  .heading
    margin-bottom: 32px
    display: block
    text-align: left
    font-size: 24px
    line-height: 32px
    color: #359080
    font-family: $font_bold
.cabinet-section__form
  .form-group__wrapp
    display: flex
    justify-content: space-between
    align-items: flex-start
    .form-group
      width: 48%
  .form-group
    position: relative
    margin-bottom: 16px
    input
      display: block
      width: 100%
      height: 56px
      border-radius: 10px
      background: rgba(43, 74, 69, 0.05)
      padding: 5px 12px
      color: #2B4A45
      font-size: 14px
      font-family: $font_semibold
      border: none
      &::placeholder
        color: rgba(43, 74, 69, 0.4)
        font-family: $font_semibold
    .pass-show
      position: absolute
      top: 19px
      right: 22px
      background: transparent
      border: none
      padding: 0
  .forgot
    display: block
    margin-top: 30px
    color: #359080
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
    border: none
    background: transparent
  .label
    margin-bottom: 12px
    color: rgba(43, 74, 69, 0.8)
    font-size: 14px
    line-height: 24px
    font-family: $font_medium
    span
      vertical-align: baseline
      color: rgba(43, 74, 69, 0.8)
      font-family: $font_semibold
  .submit
    width: 100%
    height: 48px
    padding: 5px
    text-align: center
    margin-bottom: 24px
    border-radius: 15px
    border: none
    color: #FFFFFF
    font-size: 16px
    font-family: $font_semibold
    transition: all 0.2s
    background: #359080
    margin-top: 40px
    &:hover
      background: #2B4A45
  .form-check
    display: block
    position: relative
    margin-top: 19px
    input
      padding: 0
      height: initial
      width: initial
      margin: 0
      cursor: pointer
      opacity: 0
      position: absolute
      top: 0
      left: 0
      &:checked+label
        &:after
          opacity: 1
        &:before
          background: #359080
          border-color: #EBECEF
    label
      position: relative
      cursor: pointer
      width: 100%
      display: block
      color: rgba(43, 74, 69, 0.8)
      font-size: 14px
      line-height: 17px
      font-family: $font_medium
      display: flex
      &:before
        content: ''
        -webkit-appearance: none
        background: rgba(43, 74, 69, 0.05)
        box-sizing: border-box
        width: 24px
        height: 24px
        display: inline-block
        position: relative
        vertical-align: middle
        cursor: pointer
        transition: all 0.2s
        margin-right: 10px
        margin-top: -3px
        border-radius: 5px
        border: 2px solid transparent
        box-sizing: border-box
        flex-shrink: 0
      &:after
        content: ""
        background-color: transparent
        position: absolute
        left: 9px
        top: 1px
        width: 7px
        border-bottom: 2px solid #fff
        height: 13px
        border-right: 2px solid #fff
        transform: rotate(45deg)
        display: inline-block
        opacity: 0
        transition: all .2s
.btn-socials
  display: flex
  justify-content: space-between
  align-items: center
  a
    display: block
    width: 47%
    padding: 15px 5px
    border-radius: 15px
    border: 1px solid rgba(53, 144, 128, 0.2)
    color: #359080
    font-size: 16px
    font-family: $font_semibold
    transition: all 0.2s
    text-align: center
    &:focus
      outline: none
    &:hover
      background-color: #359080
      color: #fff

.cabinet-section__history
  .history-item
    width: 100%
    margin-bottom: 8px
    padding: 12px
    background: rgba(43, 74, 69, 0.05)
    border-radius: 10px
  .info
    display: flex
    justify-content: flex-start
    margin-bottom: 15px
    .logo
      flex-shrink: 0
      width: 80px
      height: 80px
      background-size: cover
      background-position: center
      background-repeat: no-repeat
      margin-right: 12px
      border-radius: 10px
    .text
      .heaing
        color: #2B4A45
        font-family: $font_semibold
        font-size: 16px
        line-height: 24px
        margin-bottom: 2px
      ul
        li
          color: #2B4A45
          font-family: $font_medium
          margin-bottom: 4px
          font-size: 12px
          line-height: 16px
          &:last-child
            margin-bottom: 0
  .details
    display: flex
    justify-content: flex-start
    align-items: flex-end
    .date
      width: 80px
      margin-right: 12px
      color: rgba(43, 74, 69, 0.4)
      font-family: $font_semibold
      font-size: 12px
      line-height: 16px
    .price
      color: #D9663B
      font-size: 18px
      line-height: 24px
      font-family: $font_semibold
    button
      padding: 0
      border: none
      background: transparent
      margin-left: auto
      color: #359080
      font-size: 14px
      line-height: 24px
      font-family: $font_semibold

.cabinet-section__user
  .info__list
    margin-bottom: 32px
  .info__item
    margin-bottom: 8px
    background: rgba(43, 74, 69, 0.05)
    border-radius: 10px
    position: relative
    padding: 16px
    &:last-child
      margin-bottom: 0
    .container
      width: 100%
      margin-bottom: 12px
      &:last-child
        margin-bottom: 0
      .label
        color: rgba(43, 74, 69, 0.5)
        font-size: 14px
        line-height: 16px
        margin-bottom: 8px
      .value
        color: #2B4A45
        font-size: 14px
        line-height: 24px
        font-family: $font_semibold
        padding-right: 85px
    .edit
      position: absolute
      border: none
      background: transparent
      bottom: 15px
      right: 14px
      padding: 0
      color: #359080
      font-size: 14px
      line-height: 24px
      font-family: $font_semibold
  .info__card
    margin-bottom: 32px
    .label
      margin-bottom: 16px
      color: rgba(43, 74, 69, 0.5)
      font-size: 14px
      line-height: 16px
    button
      width: 100%
      height: 48px
      text-align: center
      border: 1px solid rgba(53, 144, 128, 0.2)
      background: transparent
      padding: 0
      border-radius: 15px
      color: #359080
      font-size: 16px
      font-family: $font_semibold
      background-image: url('../img/icons/plus-vector.svg')
      background-repeat: no-repeat
      background-size: 14px
      background-position: 17px 17px
      cursor: pointer
  .info__promo
    margin-bottom: 40px
    .label
      margin-bottom: 16px
      color: rgba(43, 74, 69, 0.5)
      font-size: 14px
      line-height: 16px
    .value
      width: 100%
      height: 56px
      padding-left: 12px
      line-height: 56px
      color: rgba(43, 74, 69, 0.4)
      font-size: 14px
      font-family: $font_semibold
      border-radius: 10px
      background: rgba(43, 74, 69, 0.05)
  .exit
    padding: 0
    border: none
    background: transparent
    color: #359080
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
    svg,img
      margin-right: 12px
      vertical-align: top
button.add-phone
  width: 100%
  height: 48px
  text-align: center
  border: 1px solid rgba(53, 144, 128, 0.2)
  background: transparent
  padding: 0
  border-radius: 15px
  color: #359080
  font-size: 16px
  font-family: $font_semibold
  background-image: url('../img/icons/plus-vector.svg')
  background-repeat: no-repeat
  background-size: 14px
  background-position: 17px 17px

.edit-card
  .heading
    margin-bottom: 24px
  .edit-card__descr
    margin-bottom: 32px
    color: #359080
    font-size: 14px
    line-height: 19px
    font-family: $font_medium


.order
  width: 524px
  button[type="submit"]
    margin: 0 auto
    height: 48px
    padding: 5px 56px
    color: #D9663B
    font-size: 16px
    font-family: $font_semibold
    background: rgba(217, 102, 59, 0.2)
    border-radius: 15px
    border: none
    display: block
    width: max-content
    transition: all 0.2s
    &:hover
      background: #D9663B
      color: #fff
  .order__products
    margin-bottom: 24px
  .order__product
    display: flex
    justify-content: flex-start
    align-items: center
    margin-bottom: 16px
    .name
      width: 55%
    .count
      display: flex
      width: 86px
      justify-content: space-between
      align-items: center
      margin-right: 21px
      button
        padding: 0
        width: 24px
        height: 24px
        border-radius: 3px
        border: none
        background-color: #f7e0d8
      input
        width: 20px
        margin-left: 10px
        margin-right: 10px
        flex-shrink: 0
        text-align: center
        padding: 0
        border: none
        background-color: transparent
    .price
      color: #D9663B
      font-size: 18px
      line-height: 24px
      font-family: $font_semibold
    .delete
      padding: 0
      border: none
      background-color: transparent
      margin-left: auto
  .order__promo
    margin-bottom: 16px
    input
      width: 100%
      height: 40px
      background: rgba(43, 74, 69, 0.05)
      border-radius: 10px
      border: none
      font-size: 14px
      font-family: $font_regular
      padding-left: 12px
      &::placeholder
        color: rgba(43, 74, 69, 0.5)
  .order__delivery
    display: flex
    justify-content: space-between
    align-items: center
    padding: 16px 0
    margin-bottom: 16px
    border-top: 1px solid rgba(43, 74, 69, 0.2)
    border-bottom: 1px solid rgba(43, 74, 69, 0.2)
    .text
      color: #2B4A45
      font-size: 14px
      line-height: 24px
      font-family: $font_medium
      span
        color: rgba(43, 74, 69, 0.5)
        font-size: 12px
        line-height: 24px
        vertical-align: baseline
        margin-left: 5px
    .price
      color: #2B4A45
      font-size: 16px
      line-height: 24px
      font-family: $font_semibold
  .order__summ
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 40px
    .text
      color: #2B4A45
      font-size: 14px
      line-height: 24px
      font-family: $font_medium
    .price
      color: #D9663B
      font-size: 24px
      line-height: 24px
      font-family: $font_semibold
  .order__nav
    display: flex
    justify-content: space-between
    align-items: center
    border-radius: 15px
    border: 1px solid rgba(53, 144, 128, 0.5)
    padding: 4px
    margin-bottom: 16px
    button
      width: 49%
      height: 40px
      padding: 0
      border: none
      text-align: center
      color: #359080
      background: transparent
      font-size: 14px
      border-radius: 12px
      font-family: $font_semibold
      &.active
        color: #FFFFFF
        background: #359080
  .form-group
    margin-bottom: 8px
    &.form-wrapp-order
      display: flex
      justify-content: space-between
      align-items: stretch
      margin-top: 16px
      margin-bottom: 16px
      input
        width: 23%
        &:first-child
          width: 50%
  .form-select
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px
    .text
      width: 50%
      text-align: right
      color: #2B4A45
      font-family: $font_medium
      font-size: 16px
      line-height: 24px
    select
      width: 48%
      height: 56px
      border-radius: 10px
      background: rgba(43, 74, 69, 0.05)
      border: none
      color: #2B4A45
      font-size: 14px
      line-height: 24px
      font-family: $font_semibold
      padding-left: 12px
      padding-right: 40px
      -webkit-appearance: none
      -moz-appearance: none
      text-indent: 1px
      text-overflow: ''
      background-image: url('../img/icons/clock-icon.svg')
      background-size: 22px
      background-repeat: no-repeat
      background-position: 93% 16px
      &::-ms-expand
        display: none
  .other
    margin-bottom: 16px
  .form-counter
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 16px
    .text
      width: 50%
      text-align: right
      color: #2B4A45
      font-family: $font_medium
      font-size: 16px
      line-height: 24px
    .counter-group
      display: flex
      width: 48%
      justify-content: space-between
      align-items: center
      background: rgba(43, 74, 69, 0.05)
      border-radius: 10px
      padding: 16px
      button
        padding: 0
        width: 24px
        height: 24px
        display: flex
        justify-content: center
        align-items: center
        border: none
        background-color: transparent
      input
        width: 20px
        margin-left: 10px
        margin-right: 10px
        flex-shrink: 0
        text-align: center
        padding: 0
        border: none
        background-color: transparent
  .pay-type
    margin-bottom: 32px
    display: flex
    justify-content: space-between
    align-items: stretch
    .pay__item
      width: 48%
      label
        width: 100%
        height: 48px
        text-align: center
        line-height: 48px
        border-radius: 15px
        border: 1px solid #359080
        background: transparent
        color: #359080
        font-size: 16px
        font-family: $font_semibold
        display: block
        transition: all 0.2s
        cursor: pointer
      input
        display: none
        &:checked+label
          background: #359080
          color: #fff

.order__tab
  display: none !important
  &.active
    display: block !important
    &.form-wrapp-order
      display: flex !important



//*** POPUP ***//
.popup_container
  position: fixed
  top: 0
  left: 0
  z-index: 10000
  display: flex
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  min-width: 100vw
  min-height: 100vh
  padding: 10px
  opacity: 0
  box-sizing: border-box
  transition: all 0.3s ease-in-out
  z-index: -10
  &.active
    opacity: 1
    transition: all 0.3s ease-in-out
    transition-delay: 0.1
    z-index: 999999
    .popup
      bottom: 0
      transition: all 0.6s ease-in-out
      transition-delay: 0.1

.popup_background
  position: absolute
  top: 0
  left: 0
  z-index: 100
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
.popup
  position: relative
  z-index: 200
  width: 100%
  max-width: 624px
  margin: auto
  background-color: #FFFFFF
  bottom: -100vh
  border-radius: 20px
  transition: all 0.6s ease-in-out
.popup_close
  position: absolute
  top: 24px
  right: 24px
  cursor: pointer
  transition: all 0.2s ease-in-out
  img
    width: 16px
    height: auto
.leave-popup
  padding: 40px
  max-width: 600px
.leave-popup__content
  .heading
    text-align: center
    margin-bottom: 50px
    color: #2B4A45
    font-size: 24px
    line-height: 32px
    font-family: $font_semibold
  .img
    width: 100%
    text-align: center
    margin-bottom: 60px
  .descr
    color: #2B4A45
    text-align: center
    font-size: 16px
    line-height: 24px
    font-family: $font_semibold
    margin-bottom: 40px
  .nav
    display: flex
    align-items: center
    width: 100%
    flex-direction: column
    a
      display: block
      padding: 12px 53px
      color: #D9663B
      font-size: 16px
      line-height: 24px
      font-family: $font_semibold
      background: rgba(217, 102, 59, 0.2)
      border-radius: 15px
      margin-bottom: 20px
    button
      padding: 0
      background: transparent
      border: none
      color: #D9663B
      font-size: 16px
      line-height: 24px
      font-family: $font_semibold
